.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore selected folders
_*/
report/slv_files/
images/

# ignore selected file types
*.css
*.csv
*.doc*
*.htm*
*.js
*.pdf
*.png
*.ppt*
#  *.rds don't blanket gitignore these -- see rules in data folder
*.txt
*.woff
*.xl*
*.zip
